*{
    margin:0%;
    padding: auto;
}
body
{
    width: 100%;
    height: 100vh;

}
.rectangle-outer-line
{
    align-items: center;
    display: flex;
    justify-content: center;
}
.innerline-rectangal
{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 270px;
    width: 570px;
    background-color: black;
}
.text-hours
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: aliceblue;
    
}
.text-min
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: aliceblue;
}
.text-sec
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: aliceblue;
    
}
.text-msec
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 52px;
    color: aliceblue;
    
}
.button-p
{
    justify-content: space-between;
    display: flex;
    margin-top:50px;
    border: 3px;   
}
button
{
    border-color: blanchedalmond;
    border-radius: 10%;
    height: 100px;
    width: 120px;
    font-size: 25px;
    font-family: Verdana;
    background-color: black;
    color: aliceblue;
    cursor: pointer;

}
button:hover
{
    background-color: blanchedalmond;
    color: black;
}
.button-a
{
    justify-content:center;
    display: flex;
    margin-top: 25px;
}
.Laps 
 {
    left:550px;
    position: absolute;
    top:250px;
    padding: 20px;
    font-size: 40px;
    height: 10px;
    width: 200px;
    overflow-y:auto ;
    overscroll-behavior: auto;
    color:azure;
     
}
.bganimation
{ 
    font-family: 'Times New Roman', Times, serif;
    font: size 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient( 45deg , white , green , red, blue , lightblue, lightpink , lightgoldenrodyellow ,lightcoral , gray , yellow, pink , black );
    background-size: 300% 300%;
    animation: color2 15s ease-in-out infinite ;
}
@keyframes color2
{
    0%
    {
        background-position: 0 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0 50%;
    }
}
.rectangle-outer-line
{
    border-width:600px;
    border: 10px solid;
    border-radius: 10px;
    animation: color1 6s ease-in infinite;
}
@keyframes color1 {
    0% {
        border-color: #ff5f5f;
    }
    25% {
        border-color: #ff7003;
    }
    50% {
        border-color: #7906f5;
    }
    75% {
        border-color: #07f817;
    }
    100% {
        border-color: #fd008b;
    }
}
button
{
    border: 5px solid;
    border-radius: 10px;
    animation: color1 6s ease-in infinite;
}
@media only screen and (max-width: 768px) {
    . rectangle-outer-line
    .innerline-rectangal
    .button
    .Laps
  { visibility : collopse ;}
 { visibility : visible;}
  }
